// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 50px;
  height: 50px;
  padding: 0px 20px;
}

.description {
  display: flex;
}

.container, .container-3, .user, .category {
  display: flex;
  height: 50px;
}

.votes {
  width: 80px;
}

.user, .category{
  font-size: 12px;
  font-color: #EEE;
  padding-right: 20px;
}

.container-3 {
  padding-bottom: 10px;
  display: flex;
  padding-top: 10px;
}

.user-name, .category-name {
  font-color: gray;
  padding-left: 5px;
}

.entry:nth-of-type(odd) {
    background: #e0e0e0;
}
